<section class="card">
  <div class="card-body">
    <h1>Acerca de la aplicación</h1>
    <hr class="my-4" />
    <p>
       <b>Tareas App</b> es una aplicación <b>CRUD</b> desarrollada con <b>Node.js, Express, MongoDB y JavaScript.</b> Su objetivo principal es gestionar tareas mediante operaciones básicas de creación, lectura, actualización y eliminación. Este proyecto fue desarrollado con el propósito de aprender y aplicar el uso de bases de datos NoSQL, específicamente MongoDB, en el contexto de un entorno de desarrollo web moderno. 
    </p>
    <p>
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/todolist2.gif"
        alt="Logo"
      />
      <b>Tareas App</b> es una aplicación <b>CRUD</b> que nos permite:<br>
      <br><b>
      ☑ Registrarse, iniciar sesión y cerrar sesión.<br>
      ☑ Crear nuevas tareas.<br>
      ☑ Leer tareas existentes.<br>
      ☑ Actualizar tareas.<br>
      ☒ Eliminar tareas.<br>
      <br> </b>
      Este proyecto lo desarrollé con el objetivo de aprender y aplicar el uso de bases de datos NoSQL, particularmente MongoDB, como parte de mi crecimiento personal, universitario y profesional. A nivel personal, me ha permitido mejorar mis habilidades de organización y gestión del tiempo, creando una herramienta útil para mi vida diaria. En el ámbito universitario, me ha ayudado a reforzar mis conocimientos en tecnologías clave de la Ingeniería de Sistemas, como la integración de bases de datos NoSQL en aplicaciones web. A nivel profesional, este proyecto me ha permitido desarrollar competencias en tecnologías backend y full-stack, preparándome para los retos que enfrentaré en el mundo laboral tecnológico.
      </p>
    <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/programming.gif"
        alt="Logo"
      />
    <p class="text-center">Creado por:<a href="https://github.com/EdD4rk" class="text-info">EdD4rk</a></p>
    <hr class="my-4" />
  </div>
</section>
