<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Tareas App!</h1>
    <hr class="my-4" />
  <p class="lead"><b>Convierte tus tareas en hábitos, organiza tu éxito!</b></p>
  <p>
    <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/todolist.gif"
        alt="Logo"
      />
      <p>Tareas App te ayuda a organizar tu vida de manera sencilla y eficiente. Administra tus tareas con facilidad: crea, edita, elimina y mantén un control total de tus pendientes. Además, registra tu cuenta, inicia sesión y gestiona tus actividades desde cualquier lugar. ¡Empieza a ser más productivo hoy con Tareas App! </p>
      <p class="text-center">Creado por:<a href="https://github.com/EdD4rk" class="text-info">EdD4rk</a></p>
  </p>
  <hr class="my-4" />
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>